<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <p>Du får ikke hjelp av meg, Good luck. Er vanskelig å finne lokasjoner i norge da jeg bruker geolocater<br>
    sitt api til å gjøre om stedsnavn til LatLong</p>
    
    {{>footer}}

</body>

</html>